<form #galleryForm="ngForm" (ngSubmit)="onSubmit()" novalidate (keypress)="kp($event)">
  <div class="row">
    <div class="grid-16 input-group">
      <label>Title</label>
      <input type="text" class="input-control" name="title" #title="ngModel"
             [(ngModel)]="gallery.title" required>
      <p class="text-danger" [hidden]="title.valid || title.pristine">Title
        required!</p>
    </div>
    <div class="grid-16 input-group">
      <label>Thumbnail</label>
      <input type="text" class="input-control" name="thumbUrl"
             #thumbUrl="ngModel" [(ngModel)]="gallery.thumbUrl" required>
      <p class="text-danger" [hidden]="thumbUrl.valid || thumbUrl.pristine">Thumbnail required!</p>
    </div>

    <div class="grid-16 input-group">
      <label>Data</label>
      <input type="date" class="input-control" name="dateCreated"
             #dateCreated="ngModel" [(ngModel)]="gallery.dateCreated" required>
      <p class="text-danger" [hidden]="dateCreated.valid || dateCreated.pristine">Date required!</p>
    </div>


    <div class="grid-16 input-group">
      <label>Description</label>
      <input class="input-control" name="description"
             #description="ngModel" [(ngModel)]="gallery.description" required>
      <p class="text-danger" [hidden]="description.valid || description.pristine">Description required!</p>
    </div>
  </div>

  <div class="grid-"><h4>Tags </h4></div>
  <div class="tags">
    <div class="buttonstags" *ngFor="let element of tagelements; let i = index">
      <button type="button" (click)="removeTag(i)">{{element.tag}}<i class="fa fa-times"></i></button>
    </div>

    <fieldset>
      <div class="inputText">
        <input [(ngModel)]="wartosc" name="wartosc" (keyup)="kp($event)" (change)="newTag()" list="list1">
        <datalist id="list1">
          <option *ngFor="let tags of allTags" value="{{tags}}"></option>
        </datalist>
      </div>
    </fieldset>
    <a *ngIf="tagRepeat">Ten tag jest już na liście. Wpisz inny</a>
  </div>


  <div class="row">
    <div class="grid-"><h4>Photos </h4></div>
    <div class="grid-8 text-right">
      <button type="button" (click)="addPhoto()"
              class="button button-default"><i class="fa fa-camera-retro fa-lg"> </i>Add photo
      </button>
    </div>
  </div>


  <fieldset *ngFor="let photo of gallery.photos; let i = index">
    <div class="row">
      <div class="grid-15 input-group">
        <label>Photo thumbnail</label>
        <input type="text" class="input-control" name="thumbUrl{{i}}"
               #thumbUrl="ngModel" [(ngModel)]="photo.thumbUrl" required>
        <p class="text-danger" [hidden]="thumbUrl.valid || thumbUrl.pristine">Thumbnail required!</p>
      </div>
      <div class="grid-1"><br>
        <button type="button" (click)="removePhoto(i)" class="button buttondefault"><i
          class="fa fa-remove"></i></button>
      </div>


      <div class="grid-15 input-group">
        <label>Full photo</label>
        <input type="text" class="input-control" name="imgUrl{{i}}"
               #imgUrl="ngModel" [(ngModel)]="photo.imgUrl" required>
        <p class="text-danger" [hidden]="imgUrl.valid || imgUrl.pristine">Photo
          required!</p>
      </div>
      <img *ngIf="photo.imgUrl" class="miniphoto" src="{{photo.imgUrl}}">

      <div class="grid-15 input-group">
        <label>City</label>
        <input type="text" class="input-control" name="city{{i}}"
               #city="ngModel" [(ngModel)]="photo.city" required>
        <p class="text-danger" [hidden]="imgUrl.valid || imgUrl.pristine">City
          required!</p>
      </div>


      <div class="grid-15 input-group">
        <label>Description</label>
        <input type="text" class="input-control" name="desc{{i}}"
               #desc="ngModel" [(ngModel)]="photo.desc" required>
        <p class="text-danger" [hidden]="imgUrl.valid || imgUrl.pristine">City
          required!</p>
      </div>

    </div>
  </fieldset>
  <div class="row">
    <div class="grid-16">
      <button class="button button-primary"
              [disabled]="!galleryForm.form.valid" (mouseup)="keypress=''">Save gallery
      </button>
    </div>
  </div>
</form>
