<div>

  <div class="dropdown">
    <i  class="fa fa-ellipsis-h"></i>
    <div class="dropdown-content">
      <button (click)="openLg(content)" class="del"><i class="fa fa-trash-o fa-fw"></i>Delete</button>
      <button (click)="editThisGallery()" class="edit"><i class="fa fa-pencil fa-fw"></i> Edit</button>
    </div>
  </div>
  <h1 class="name">{{gallery.title}}</h1>


  <img class="image-size" src="{{gallery.thumbUrl}}" >
  <p>
    <small>{{gallery.dateCreated | polishDate | uppercase }}</small>
  </p>
  <p>{{gallery.description}}</p>
  <a routerLink="/galleries/{{gallery.galleryId}}"><h6>Więcej</h6></a>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Delete: {{gallery.title}}</h4>

  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete Gallery: {{gallery.title}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c(delGallery(gallery))">Yes</button>
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
