<form #commentForm="ngForm" (ngSubmit)="onSubmit(comment)" novalidate>

  <label>Name</label>
  <input type="text" class="input-control" name="name" #firstName="ngModel" [(ngModel)]="emptyComment.firstName" required>
  <p class="text-danger" [hidden]="firstName.valid || firstName.pristine">Name required!</p>

  <label>Last Name</label>
  <input type="text" class="input-control" name="lastName" #lastName="ngModel" [(ngModel)]="emptyComment.lastName" required>
  <p class="text-danger" [hidden]="lastName.valid || lastName.pristine">Last name required!</p>

  <label>Email</label>
  <input type="email" class="input-control" name="email" #email="ngModel"
         [(ngModel)]="emptyComment.email"
         required
         pattern="[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*">
  <p class="form-error" *ngIf="email.invalid && !email.pristine && !email.dirty">Email required!</p>
  <p class="form-error" *ngIf="email.invalid && !email.pristine && email.dirty">Wrong email!</p>


  <label>Message</label>
  <input type="text" class="input-control" name="message" #message="ngModel" [(ngModel)]="emptyComment.message" required>
  <p class="text-danger" [hidden]="message.valid || message.pristine">Last name required!</p>

  <button class="button button-primary" [disabled]="!commentForm.form.valid">Send message</button>

</form>
