.nawigacja{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100px;
  position:relative;
  text-align: center;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;

}

.container{
  background-color: lightblue;
  min-height: 700px;
}

