<div class="container">
  <div class="row row-align-center">
    <div class="grid-2">
      <a href="/" class="brand-logo">Moja strona</a>
    </div>
    <div class="grid-10">
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="is-active">Dashboard</a>
        </li>

        <li>
          <a routerLink="/news" routerLinkActive="is-active">News</a>
        </li>

        <li>
          <a routerLink="/galleries" routerLinkActive="is-active">Galleries</a>
        </li>

        <li>
          <a routerLink="/contact" routerLinkActive="is-active">Contact</a>
        </li>


      </ul>
    </div>
  </div>
</div>
